.homePage_1,
.homePage_2,
.homePage_3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.homePage_1 {
  background-image: url("../assets/homePage3.jpg");
}

.homePage_2 {
  background-image: url("../assets/homePage2.jpg");
}

.homePage_3 {
  background-image: url("../assets/homePage1.jpg");
}
